name: Tests
on:
  push:
    branches: ["main", "develop", "feature/ci"]
  pull_request:
    branches: ["main", "develop", "feature/ci"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Protoc
        uses: arduino/setup-protoc@v2

      - name: Set up
        run: |
          sudo apt-get update
          sudo apt install just

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Test
        run: just test

      - name: Lint
        run: just lint
